<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting</title>
    <link rel="stylesheet" href="css/greetings.css">

</head>

<body style="background-color:black;">
    <!-- TODO Actual Greeting Page with animations, iframes sound etc -->
    <h1>Hi</h1>
    <h1>
        <%=wname%>
    </h1>
    <h1>
        <%=uname%> Wishes You A Happy New Year 2022
    </h1>
    <h2>check your mail for wishmail :)</h2>
    <div class="confetti">
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
        <div class="confetti-piece"></div>
    </div>

</body>

</html>